[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hugo.386"]
	path = themes/hugo.386
	url = https://gitlab.com/maxlefou/hugo.386
